// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

.navbar-custom {
    background-color: #fff;
    box-shadow: -3px 1px 4px 2px rgba(0, 0, 0, 0.5);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand img{
    width: 170px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #555 !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active ,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: #ddd;
}

.navbar-custom .dropdown-menu {
    background-color: #fff;
}

.navbar-custom .dropdown-menu .dropdown-item{
    color: #555;
}

.navbar-custom .dropdown-item:hover,.navbar-custom  .dropdown-item:focus{
    background-color: #ddd;
}

.btn-visyttex{
    background-color: #1ab096;
    color: #fff;
}

.tipo-senal-inn{
    display: inline-flex;
    flex-wrap: wrap;
}
.tipo-senal{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    cursor: pointer;
    @include transition(all 0.6s ease);
}
.supertipo-senal{
    padding: 15px;
    cursor: pointer;
    margin-bottom: 5px;
}
.txt-tipo-senal{
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.img-tipo-senal{
    width: 50%;
}
.senales-wrapp{
    text-align: center;
}
.senal-regla{
    background-color: rgb(192,0,0);
    &:hover{
        background-color: darken(rgb(192,0,0), 10%);
    }
}
.senal-preve{
    background-color: rgb(239,253,64);
    &:hover{
        background-color: darken(rgb(239,253,64), 10%);
    }
}

.senal-info{
    background-color: rgb(138,122,253);
    &:hover{
        background-color: darken(rgb(138,122,253), 10%);
    }
}
.senal-obra{
    background-color: rgb(253,158,80);
    &:hover{
        background-color: darken(rgb(253,158,80), 10%);
    }
}

.senales-wrapp{

}

.senales-inn{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}
.senal{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
    cursor: pointer;
    transition: all 0.6s ease;
    &:hover{
        padding: 1px 0;
    }
}
.senal-img-wrp{
    width: 100%;
    height: 100px;
    text-align: center;
}
.senal-img{
    max-width: 100%;
    max-height: 100%;
}
.senal-txt{
    max-height: 70px;
    line-height: 14px;
    font-size: 13px;
    text-align: center;
    width: 100%;
}

/*COTIZACION*/
.tipo-senal-wrapp, .tipo1-senal-wrapp, .senales-regla, .senales-preve, .senales-info, .senales-obra,
.senales-incendios, .senales-advertencia, .senales-obligacion, .senales-evacuacion, .properties-wrapp,.works-wrapp{
    display: none;
}
/*END COTIZACION*/
